<img src="images/lasalle_logo.png" style="width:375px;height:110px;">

# <center>WIM250 / WDIM150 - Introduction to Scripting Languages</center>
<center>Instructor: Ivaldo Tributino</center>

## Final Exam

### Exam instruction
- The exam must be submitted by **2:00 pm** on **June 14**.
- Allow adequate time to complete this exam before the due date‚ÄØand time. Late submissions will not be accepted.
- Each question presents its own score, the sum of all scores is **100**.
- **Rename** this Notebook to your name.
- You must submit this **Notebook(.ipynb)** and the **SQlite file**. 

### Examination Conduct

- You are not permitted to obtain assistance by improper means or ask for help from or give help to any other person. 
- You are not permitted to take screenshots, record the screen, copy and paste questions or answers or otherwise attempt to take any of the content of this exam out of the exam for any purpose.

In [ ]:
### Student declaration

student_name = ''            
student_number = ''          

print('''By attempting this exam, I, %s, have read and understand the examination conduct requirements for this exam, 
and I understand that submitting another‚Äôs work as my own can result in grade zero for this assignment. 
'''%student_name)

### 1. (10 points)
**Get the highest, lowest number and calculate the sum of the numbers in trapList.txt file.**

### 2. (10 points)

**Extract the tweets from the `trump_tweets.txt` file and replace the emojis using the `emoji` dictionary and the library `re`. The final result should be as shown below:**

```
Embrace the gold standard year-round. Shop @TrumpStore‚Äôs St. Patrick's Day Collection with 17% savings now through tomorrow at midnight! Shamrock.
Transporting ourselves to @TrumpGolfLA this wintery weekend, where vivid Pacific Ocean sunsets take place daily. Experience the magic yourself, book a tee time at  Flag in holeÔ∏è.
This Christmas Eve, we‚Äôre featuring @TrumpNewYork‚Äôs longtime Bellman, Jesus, who is known for entertaining hotel guests with his delightful voice. Enjoy him singing a classic! Sparkles.
We‚Äôve once again reached the time of year to witness our favorite and most stunning scene: Autumn in Central Park. Maple leaf.
There‚Äôs more to @TrumpJupiter than meets the eye. This Audubon Certified Sanctuary is home to four on-course beehives with 200,000 to 250,000 honey bees that have produced 785 pounds of naturally-derived honey to date. Honey pot.
```

In [ ]:
import re

emoji = {'‚òòÔ∏è': ' Shamrock','‚õ≥': ' Flag in hole','‚ú®': ' Sparkles','üçÅ': ' Maple leaf','üçØ': ' Honey pot'}

fhand = open('trump_tweets.txt', encoding="utf-8")
fread = fhand.read()

### 3. (10 points)

**Create a json file called `teachers.json` that will contain a dictionary where the keys will be the names of the following teachers:**
```
['corrie-heringa', 'marcel-casarini', 'susanne-tabata', 'angel-torrella']
```
**and the values will be the description of each one of them. You will extract the descriptions of the teachers scraping the urls:**
- https://www.lasallecollegevancouver.com/about-us/our-professors/corrie-heringa 
- https://www.lasallecollegevancouver.com/about-us/our-professors/marcel-casarini 
- https://www.lasallecollegevancouver.com/about-us/our-professors/susanne-tabata 
- https://www.lasallecollegevancouver.com/about-us/our-professors/angel-torrella

### 4. (5 points)

**`Open` and `load` the JSON file called `students_cities.json` to get a dictionary where keys are student names and values are lists of 30 cities. Also, `assign` the dictionary to a variable called `dic`. Finally using your name print your 30 cities.**

### 5. (10 points)

**Use the `daily_14.json` file to obtain the coordinate: longitude and latitude of your cities (`dic['your_name']`) and thus create a dictionary where the `keys` are the names of the cities and the `values` are the coordinates of the cities.**

In [ ]:
# import json to open and load the data from daily_14.json
data = [json.loads(line) for line in open('daily_14.json', encoding="utf8")]

Considering you have your **30 coordinates in hand**, use them to get [Current Weather Data](https://openweathermap.org/current) from the OpenWeather API .

### 6. (15 points)

**Use your `30 coordinates` and `API key` to get data from OpenWeather One Call API.** Hint: see the notebook `W8_class_activity_JSON` as reference and use the following `serviceurl` and `parms`:

```python
serviceurl = 'https://api.openweathermap.org/data/2.5/weather?'
parms = 'lat=%g&lon=%g&units=metric&appid=%s' %(coord['lat'], coord['lon'], API_KEY) #Parameters
```

In [ ]:
print(len(cwdList))
cwdList[0]

### 7. (20 points)

**Create a database, `your_name.sqlite`, containing the tables:**

- `Table:` Country, `columns:` id, name; 
- `Table:` City, `columns:` id, country_id, name, longitude, latitude; 
- `Table:` Temperature, `columns:` city_id, temp, feels_like, temp_min, temp_max;
- `Table:` Weather, `columns:` city_id, main, description.

**Fill your tables with the items of the list, `cwdList`, created by the API calls.**

<img src="images/tables.png" style="width:900px;height:500px;">

### 8. (5 points )

**Using SQL commands, select `Country.name`, `City.name`, `Temperature.temp_max` and `Weather.description` columns from `Country JOIN City JOIN Temperature JOIN Weather` table `WHERE Weather.main = 'Clear'`. The output should look like:**


```
('IR', 'Bojnourd', 2.0, 'clear sky')
.
.
.
('VN', 'Yen Vinh', 21.33, 'clear sky')

```

In [ ]:
import sqlite3

conn = sqlite3.connect('your_name.sqlite') 
cur = conn.cursor()

cur.execute('''SELECT  Country.name, City.name, Temperature.temp_max, Weather.description  
               FROM Country JOIN City JOIN Temperature JOIN Weather 
               ON  City.country_id = Country.id AND Temperature.city_id = City.id AND Weather.city_id = City.id 
               WHERE Weather.main = 'Clear' ''')

for row in cur:
    print(row)

cur.close()

### 9. (5 points)

**Export the tables as `csv` files and save them in the folder named csv. Then, Import the pandas library as `pd` and use the `.read_csv` method to create the dataframes below.**

<img src="images/export.png" style="width:450px;height:200px;">

In [ ]:
import pandas as pd

df_country = 
df_city = 
df_temp = 
df_weather =

### 10. (10 points)

**Merge `df_city` with `df_temp` using the columns `id` from `df_city` an` city_id` from `df_temp`. Use the image below as a reference**

<img src="images/mergeDF.png" style="width:475px;height:225px;">

See: [Join And Merge Pandas Dataframe](https://pandas.pydata.org/docs/user_guide/merging.html).

In [ ]:
df = 
df

**Finally, you can view your data; city coordinates and temperature on a world map.`(Just run the cell)`**

In [ ]:
import matplotlib.image as mpimg
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

world_img = mpimg.imread('./images/world.png')
ax = df.plot(kind="scatter", x="longitude", y="latitude", figsize=(18,8),
                       c="temp_max", s=100, cmap=plt.get_cmap("jet"),
                       colorbar=True, alpha=0.8,
                      )

plt.imshow(world_img, extent=[-180.00, 180.00, -90.00, 90.00])


sns.scatterplot(data=df, hue='name', x='longitude', y='latitude', palette="tab10")

plt.ylabel("Latitude", fontsize=17)
plt.xlabel("Longitude", fontsize=17)
plt.show()